@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Kolker+Brush&family=Poppins:wght@300&family=Source+Sans+Pro:wght@200&family=Xanh+Mono&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: #FFEFBA;
  background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);
  background: linear-gradient(to right, #FFFFFF, #FFEFBA);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

}

img {
  max-width: 100%;
}

.mobile-container {
  width: 400px;
  background-color: #FFF;
  box-shadow: 0 0 10px 2px #3333331A;
  border-radius: 3px;
  overflow: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

header input {
  background-color: #eee;
  border: none;
  border-radius: 3px;
  font-family: inherit;
  padding: 0.5rem 1rem;
}

header button {
  background-color: transparent;
  border: none;
  color: #aaa;
  font-size: 1.5rem;
  margin-left: 10px;

}


.fav-container {
  background-color:lightyellow;
  padding: 0.25rem 1rem;
  text-align: center;

}

.fav-meals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.fav-meals li {
  margin: 5px;
  width: 75px;
}

.fav-meals li img {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 10px 2px #3333331A;
  height: 70px;
  width: 70px;
}

.fav-meals li span {
  font-size: 0.9rem;
}

.meal {
  border-radius: 3px;
  box-shadow: 0 0 10px 2px #3333331A;
  margin: 1.5rem;
  overflow: hidden;
}

.meal-header {
  position: relative;

}

.meal-header .random {
  position: absolute;
  top: 1rem;
  background-color: #FFF;
  padding: 0.25rem 0.5rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.meal-header img {
  object-fit: cover;
  height: 250px;
  width: 100%;
}

.meal-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.meal-body h4 {
  margin: 0;
}

.meal-body .fav-btn {
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  color: gray;
  cursor: pointer;
}

.meal-body .fav-btn.active {
  color: rebeccapurple;
}
